*{
	margin: 0px;
	padding: 0px;
}
/*Start of nav*/
nav{
	font-size: 20px;
	margin: 20px;
	border: 10px, pink, solid;
	text-align: center;


}
nav ul{
list-style: none;
display: inline-flex;


}
nav li{
	padding: 10px;

}
a{
	text-decoration: none;
	color: black;
}

/*End of nav*/
table{
	
	margin: 60px;
	
}

td{
	border: red, 10px, solid;
	padding: 10px;
	
}
.test{
	border: red,10px,solid;
}
.helloworld{
	border: hotpink, 10px, solid ;
	font-size: 50px;
	text-align: center;
}
.welcome{
	padding-left: auto;
	padding-right: auto;
	font-size: 20px;
	width: 50%;

}

.SignUpLink{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
	border: purple , 10px, solid;
}

.title{
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: lightgray;
}
.main{
	display:inline-flex;
	
	width: 100%;
	height: 50%;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background-color: lightgray;

}

.picture{
	width: 150px;
	height: 150px;
	border: 2px,solid black;
	overflow: hidden;
	background-color: black;

	
}
.picture img{
	height: 100%;
	width: 100%;
	object-fit: contain;

}
.words{
	display: flex;
	flex-direction: column;
	align-items: center;      /* horizontal centering */
	justify-content: center;  /* vertical centering */
	text-align: center;
	
	height: 150px;
}
.space{
	width: 50px;
}

.Announcements{
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	/*border: blue, 10px, solid;*/
	display: flex; /*this must be here before the center*/
	justify-content: center;/*Center the main div */

}
.imageLeft{
	border: black, 5px, solid;

}

.description{
	padding: 10px;
	border: black, 5px, solid;
	text-align: center;
	background-color: red;
	color: white;
}


.meetings{
	margin-left: auto;
	margin-right: auto;
	width: 100%;

}